@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
.App {
  display: grid;
  grid-template-columns: 50vw 50vw;
}

textarea, .content {
  font-family: 'Jaldi', serif;
  font-size: 24px;
  line-height: 1.3em;
}

textarea {
  box-sizing: border-box;
  padding: 25px;
  width: 50vw;
  height: 100vh;
}

.content {
  background-color: #f3f3f3;
  width: 50vw;
  height: 100vh;
  padding: 25px;
}

.content .beat {
  margin-right: 10px;
}
.content .beatNum {
  font-size: 12px;
  top: -17px;
  position: relative;
  color: #ccc;
}
.content .beatNum:first-child {
  display: none;
}
