@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap');
.App {
  display: grid;
  grid-template-columns: 50vw 50vw;
}



textarea, .content, .toolbar {
  font-family: 'Jaldi', serif;
  font-size: 24px;
  line-height: 1.3em;

  border: none;
}

.toolbar {
  font-size: 16px;
  color: #ccc;
  padding: 0.5vw;
  cursor: cell;
  user-select: none;
}

.lineNumber {
  color: #ccc;
}

textarea {
  box-sizing: border-box;
  padding: 25px;
  width: 50vw;
  height: 100vh;
}

.content {
  background-color: #f8f8f8;
  width: 50vw;
  height: 100vh;
  padding: 25px;
  border-left: 1px solid #ccc;
}

.content .beat {
  margin-right: 10px;
}
.content .beatNum {
  font-size: 12px;
  top: -17px;
  position: relative;
  color: #ccc;
}
.content .beatNum:first-child {
  display: none;
}

.App.noBeatsVisible .content .beatNum {
  display: none;
}
